<a href="https://colab.research.google.com/github/Untick/InspectrumClinic_RecSys/blob/Alesya-Moroz-folder/01_5_profpatolog_rawdataset_primary_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Анализ и редактирование исходного датасета, удаление и добавление столбцов

# Загрузка библиотек

In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns

import matplotlib.pyplot as plt
import re

import warnings
warnings.filterwarnings('ignore')

# Функции

In [ ]:
#@title функция для выбора и удаления столбцов в датафрейме по типовому окончанию (началу) наименования столбца

def col_editing(dataframe, key_word, position_end=True, col_delete=False, display=False, check_info=False):
    columns = dataframe.columns
    col_list = []
    if position_end:
        for i,col in enumerate(columns):
            if col.endswith(key_word):
                col_list.append(col)
                if display:
                    print(i, col)
    else:
        for i,col in enumerate(columns):
            if col.startswith(key_word):
                col_list.append(col)
                if display:
                    print(i, col)
    
    if col_delete:
        dataframe_new = dataframe.drop(col_list, axis='columns')
    else:
        dataframe_new = dataframe

    if check_info:
        for i in range(len(col_list)):
            print('\n',i, col_list[i], dataframe_new[col_list[i]].unique())
            #print(i, dataframe_new[col_list[i]].value_counts())
        print('---\n')

    print('\nКоличество выбранных столбцов c key_word "', key_word, '":', len(col_list))
    print('Количество столбцов в датафрейме на входе :', dataframe.shape[1])
    print('Количество столбцов в датафрейме на выходе:', dataframe_new.shape[1])
    
    return dataframe_new, col_list

# Загрузка датасета

In [ ]:
from google.colab import drive # Подключаем диск
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/датасет профпатолог часть.xlsx')

In [ ]:
df

,ДокументПрохождениеМедосмотра,Клиент,КлиентДатаРождения,КлиентПол,КлиентПолПредставление,ДатаЗавершенияМедосмотра,ТипМедосмотра,ТипМедосмотраПредставление,ПсихОсвидетельствование,Контрагент,...,Оториноларингология3_Аудиометрия1_Значение,Оториноларингология3_Аудиометрия1_ЗначениеПредставление,Оториноларингология1_ЖалобыДополнение_Значение,Оториноларингология1_ЖалобыДополнение_ЗначениеПредставление,Стоматология2_ВП2_Значение,Стоматология2_ВП2_ЗначениеПредставление,Терапия2_ЗаключениеФОГК_Значение,Терапия2_ЗаключениеФОГК_ЗначениеПредставление,Офтальмология1_ДвигательныйАппаратГлазДополнение_Значение,Офтальмология1_ДвигательныйАппаратГлазДополнение_ЗначениеПредставление
0,7f41ca7e-7dac-11ec-80fc-0cc47aab8067,c91e3407-b81f-11e9-80cf-0cc47aab8067,1976-10-24,Женский,Женский,2022-01-25,Периодический,Периодический,False,23c173a7-30d9-11e7-80d8-708bcd7f83cd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2ee1f9ac-83dd-11ec-80fc-0cc47aab8067,1a1a5fea-8b7f-11eb-80e8-0cc47aab8067,1987-11-18,Мужской,Мужской,2022-02-02,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9cbb191e-8e24-11ec-80fe-0cc47aab8067,7fe324e0-fa51-11eb-80f6-0cc47aab8067,1985-09-08,Мужской,Мужской,2022-02-15,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b8a33910-8eec-11ec-80fe-0cc47aab8067,98f9d761-8d65-11ec-80fe-0cc47aab8067,1988-04-25,Мужской,Мужской,2022-02-16,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0bb0d181-938c-11ec-80fe-0cc47aab8067,009aac7d-7bcf-11eb-80e8-0cc47aab8067,1984-04-17,Мужской,Мужской,2022-02-22,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977,137af572-70a5-11ed-8109-0cc47aab8067,41a7c665-7098-11ed-8109-0cc47aab8067,1972-11-12,Мужской,Мужской,2022-11-30,Периодический,Периодический,False,a9f70e4c-707f-11ed-8109-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978,26310d7e-70a5-11ed-8109-0cc47aab8067,41a7c663-7098-11ed-8109-0cc47aab8067,1986-07-09,Мужской,Мужской,2022-11-30,Периодический,Периодический,False,a9f70e4c-707f-11ed-8109-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,b2602553-705c-11ed-8109-0cc47aab8067,0dc52156-f1a9-11e9-80d1-0cc47aab8067,1994-05-12,Мужской,Мужской,2022-11-30,Периодический,Периодический,False,e689a382-17b2-11e9-80ce-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980,d0358b83-7065-11ed-8109-0cc47aab8067,6261a674-07c8-11e8-80c6-0cc47aab8067,1972-04-17,Женский,Женский,2022-11-30,Периодический,Периодический,False,21f2a93d-68f9-11e6-82dc-d897ba0a5c60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,a15e278b-71f5-11ed-810a-0cc47aab8067,920293ea-32c2-11eb-80e3-0cc47aab8067,1971-09-14,Мужской,Мужской,2022-12-02,Периодический,Периодический,False,4826f33a-06b9-11ea-80d3-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Информация об исходном датасете

In [ ]:
df.info()
# df.info(verbose=True, buf=None, max_cols=4, memory_usage=None, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1982 entries, 0 to 1981
Columns: 4587 entries, ДокументПрохождениеМедосмотра to Офтальмология1_ДвигательныйАппаратГлазДополнение_ЗначениеПредставление
dtypes: bool(1), datetime64[ns](43), float64(1253), object(3290)
memory usage: 69.3+ MB

# Редактирование датасета

## Предварительное очищение данных

In [ ]:
#@title проверка наличия пропусков по столбцу 'Клиент'

if df['Клиент'].isna().sum() > 0:
    df = df.dropna(subset=['Клиент'])
    print('Удалены строки с пустыми значениями в столбце "Клиент"')

print('Количество строк с пропусками:', df['Клиент'].isna().sum())

Количество строк с пропусками: 0

#### Корректировка данных по целевому столбцу 'ЗаключениеМК'
1. Удаление строк со значениями Nan
2. Удаление строк с нерелевантной информацией (при наличии)

In [ ]:
print(df['ЗаключениеМК'].isna().sum())
print(df['ЗаключениеМКПредставление'].isna().sum())
print(df['Заключение'].isna().sum())
# df[pd.isna(df['ЗаключениеМК'])]['ЗаключениеМК']

407
407
419

In [ ]:
conclusions = df['ЗаключениеМК'].unique()
print(conclusions)

['Годен' 'ГоденСКоррекциейЗрения' 'ГоденБезРаботНаВысотах'
 'НуждаетсяВДообследованииИЛечении' 'ВременноНегоден' 'ОграниченноГоден'
 nan 'машинист бульдозера' 'Газоспасатель' ' Газоспасатель']

In [ ]:
# удаляем строки с  'ЗаключениеМК'= Nan и строки с нерелевантными значениями

df_01 = df.dropna(subset=['ЗаключениеМК'])
df_01 = df_01.loc[(df_01['ЗаключениеМК'] != 'машинист бульдозера') 
                & (df_01['ЗаключениеМК'] != 'Газоспасатель') 
                & (df_01['ЗаключениеМК'] != ' Газоспасатель')]

# проверка
print(df_01['ЗаключениеМК'].unique())

['Годен' 'ГоденСКоррекциейЗрения' 'ГоденБезРаботНаВысотах'
 'НуждаетсяВДообследованииИЛечении' 'ВременноНегоден' 'ОграниченноГоден']

In [ ]:
print(df_01['ЗаключениеМК'].value_counts())

Годен                               1434
ГоденСКоррекциейЗрения               123
ВременноНегоден                        9
НуждаетсяВДообследованииИЛечении       2
ОграниченноГоден                       2
ГоденБезРаботНаВысотах                 1
Name: ЗаключениеМК, dtype: int64

In [ ]:
# df_01.info()

### Удаление столбцов

In [ ]:
#@title  с дублирующей информацией
# столбцы 'ЗаключениеМКПредставление', 'Заключение' удаляем из датасета, как дублирующие

df_01 = df_01.drop(['ЗаключениеМКПредставление', 'Заключение'], axis='columns')

In [ ]:
#@title  с нулевыми значениями
df_02 = df_01.dropna(axis='columns',how='all')

In [ ]:
print('df_01: ', df_01.shape)
print('df_02: ', df_02.shape)

df_01:  (1571, 4585)
df_02:  (1571, 3576)

#### с нерелевантной информацией

In [ ]:
keywords_to_drop = 'ДатаПриема|_Дата|Документ|Салон|Специализация|Врач'
columns_to_drop = list(df_02.filter(regex=keywords_to_drop).columns)
len(columns_to_drop)

381

In [ ]:
df_03 = df_02.drop(columns_to_drop, axis='columns')
df_03.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1571 entries, 0 to 1981
Columns: 3195 entries, Клиент to Офтальмология1_ДвигательныйАппаратГлазДополнение_ЗначениеПредставление
dtypes: bool(1), datetime64[ns](2), float64(369), object(2823)
memory usage: 38.3+ MB

In [ ]:
columns = list(df_03.columns)
len(columns)

3195

### Столбцы с общей информацией

In [ ]:
columns_general = ['КлиентДатаРождения',
                        'КлиентПолПредставление', 
                        'ДатаЗавершенияМедосмотра', 
                        'ЗаключениеМК',
                        'ДиспансернаяГруппаПредставление',
                        'ВредныеФакторы']

### Столбцы с признаком "Представление"
по результатам предварительного анализа датасета, считаем, что столбцы с признаком Представления содержат дублирующую или обобщенную информацию со столбцами аналогичного наименования, но без признака

In [ ]:
keywords_representation = 'Представление'
columns_representation = list(df_03.filter(regex=keywords_representation).columns)[3:]
len(columns_representation)

1529

In [ ]:
columns_representation[:10]

['ЛабораторныеИсследования1_ОАК_ЗначениеПредставление',
 'ЛабораторныеИсследования1_Биохимия_ЗначениеПредставление',
 'ЛабораторныеИсследования1_ОАМ_ЗначениеПредставление',
 'ЛабораторныеИсследования1_МазокИзЗеваИНоса_ЗначениеПредставление',
 'ЛабораторныеИсследования1_Кал_ЗначениеПредставление',
 'ЛабораторныеИсследования1_RW_ЗначениеПредставление',
 'ЛабораторныеИсследования1_КровьНаЭнтеробиоз_ЗначениеПредставление',
 'Рентгенология1_Легкие_ЗначениеПредставление',
 'Рентгенология1_Сердце_ЗначениеПредставление',
 'Рентгенология1_Заключение_ЗначениеПредставление']

### Столбцы с признаком "МКБ"

In [ ]:
keywords_mkb = 'МКБ'
columns_mkb = list(df_03.filter(regex=keywords_mkb).columns)
len(columns_mkb)

91

### Формирование перечня столбцов для датафрейма

In [ ]:
columns_to_save = columns_general + columns_representation + columns_mkb
# columns_to_save
print(len(columns_to_save))

1626

In [ ]:
df_modified = df_03[columns_to_save]
df_modified.reset_index(drop= True , inplace= True)
df_modified.index

RangeIndex(start=0, stop=1571, step=1)

In [ ]:
df_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571 entries, 0 to 1570
Columns: 1626 entries, КлиентДатаРождения to Оториноларингология3_МКБ101
dtypes: datetime64[ns](2), float64(85), object(1539)
memory usage: 19.5+ MB

In [ ]:
df_modified.shape

(1571, 1626)

In [ ]:
data = df_modified.copy()
data[columns_general].head()

,КлиентДатаРождения,КлиентПолПредставление,ДатаЗавершенияМедосмотра,ЗаключениеМК,ДиспансернаяГруппаПредставление,ВредныеФакторы
0,1976-10-24,Женский,2022-01-25,Годен,I,11.4
1,1987-11-18,Мужской,2022-02-02,Годен,IIIа,4.2.5
2,1985-09-08,Мужской,2022-02-15,ГоденСКоррекциейЗрения,II,4.2.5
3,1988-04-25,Мужской,2022-02-16,Годен,I,11.1
4,1984-04-17,Мужской,2022-02-22,ГоденСКоррекциейЗрения,II,11.1

### Добавление столбца с параметром "Возраст"

In [ ]:
data['Возраст'] = (data['ДатаЗавершенияМедосмотра'] - data['КлиентДатаРождения']).dt.days // 365

In [ ]:
# Столбцы "КлиентДатаРождения" и  "ДатаЗавершенияМедосмотра" далее не потребуются
data = data.drop(['КлиентДатаРождения', 'ДатаЗавершенияМедосмотра'], axis='columns')

In [ ]:
data[['КлиентПолПредставление',
      'ЗаключениеМК',
      'ДиспансернаяГруппаПредставление',
      'ВредныеФакторы',
      'Возраст']].head()

,КлиентПолПредставление,ЗаключениеМК,ДиспансернаяГруппаПредставление,ВредныеФакторы,Возраст
0,Женский,Годен,I,11.4,45
1,Мужской,Годен,IIIа,4.2.5,34
2,Мужской,ГоденСКоррекциейЗрения,II,4.2.5,36
3,Мужской,Годен,I,11.1,33
4,Мужской,ГоденСКоррекциейЗрения,II,11.1,37

## Сохранение скорректированного датасета для дальнейшей работы

In [ ]:
data.to_excel('/content/drive/MyDrive/NU_files/стажировка/profpatolog_modifiedDataset_v1.xlsx')